# Gerando dataset em arquivo csv

## Importando bibliotecas

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from zipfile import ZipFile

from feat_set_ext import *

## Criando lista de DataFrames por amostra

In [2]:
HEADER_LINE_OF_CSV = 19
list_of_df = []

with ZipFile('./fluxo.zip') as fluxo:
    path_list = fluxo.namelist()
    path_list.sort()
    for file_path in filter(lambda string: '.csv' in string, path_list):
        with fluxo.open(file_path) as csv_file:
            signal = pd.read_csv(csv_file, header=HEADER_LINE_OF_CSV)[['CH1']].values.flatten()
            list_of_df.append(create_fs20(signal, file_path))

## Gerando arquivos csv

In [3]:
data_df = pd.concat(list_of_df, ignore_index=True)

data_df.replace(np.inf, np.NaN)
data_df.dropna(inplace=True)

data_df.to_csv('./csvs/fs20.csv', index=False)

data_df.head()

,MeanAD-A5,MeanAD-D4,MeanAD-D3,MedianAD-A5,Energy-A5,MedianAD-D5,Energy-D5,MedianAD-D4,Energy-D4,MedianAD-D3,Energy-D3,Kurt-A5,Kurt-D5,Skew-D4,frequence,target
0,0.478198,0.086020,0.038056,0.637963,265202.616809,0.187633,124.557840,0.118557,65.170220,0.051194,26.593132,-0.724753,-0.363398,-0.067063,30,0
1,0.475344,0.085821,0.037986,0.641705,265146.596130,0.185012,122.217348,0.119766,64.525229,0.051161,26.296542,-0.741694,-0.350619,-0.062657,30,0
2,0.480317,0.085428,0.037994,0.655420,265173.675794,0.184159,122.702194,0.117915,64.366580,0.051516,26.373236,-0.770183,-0.388830,-0.054136,30,0
3,0.471190,0.083805,0.037057,0.598311,263826.387460,0.176982,117.526827,0.115591,61.910702,0.049583,25.154780,-0.557662,-0.321497,-0.059188,30,0
4,0.470342,0.083314,0.037003,0.607864,263950.043210,0.177187,117.401925,0.116743,61.140724,0.049381,25.058178,-0.542239,-0.324286,-0.073999,30,0

In [4]:
data_df.describe()

,MeanAD-A5,MeanAD-D4,MeanAD-D3,MedianAD-A5,Energy-A5,MedianAD-D5,Energy-D5,MedianAD-D4,Energy-D4,MedianAD-D3,Energy-D3,Kurt-A5,Kurt-D5,Skew-D4,frequence,target
count,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000
mean,0.493828,0.072729,0.033635,0.656545,262632.467236,0.341381,306.674887,0.094024,59.052809,0.044151,22.411848,-0.881533,-0.911116,0.035692,45.111926,2.992667
std,0.391148,0.031626,0.007943,0.537579,3404.639894,0.180997,299.212143,0.039903,54.364024,0.009982,11.006087,0.315756,0.363825,0.087622,10.008057,1.978539
min,0.160341,0.030767,0.020894,0.211590,254064.570828,0.067091,16.155064,0.038593,9.246443,0.027942,7.744998,-1.458222,-1.525245,-0.218854,30.000000,0.000000
25%,0.227488,0.044032,0.027731,0.301606,260302.458763,0.199464,101.484382,0.059879,18.192438,0.036956,14.360976,-1.103226,-1.226955,-0.026409,35.000000,1.000000
50%,0.383412,0.069741,0.031330,0.529513,262097.833295,0.302422,201.375363,0.093198,42.412413,0.041104,18.361013,-0.938204,-0.967632,0.020849,45.000000,3.000000
75%,0.492917,0.088386,0.040853,0.653687,264116.147677,0.449921,402.249491,0.112156,71.277793,0.052984,31.537654,-0.687654,-0.638916,0.091792,55.000000,5.000000
max,1.926847,0.194740,0.059884,2.922854,276162.845571,0.830811,1407.096739,0.274176,330.260622,0.078213,67.052858,0.134414,0.142201,0.311011,60.000000,6.000000