# Iris dataset test

Testando o conjunto de dados [IRIS dataset](https://en.wikipedia.org/wiki/Iris_flower_data_set "wiki of iris flower data set") utilizando `scikit-learn` e o `pandas`.

## Importando módulos necessários

In [33]:
from sklearn import datasets
import pandas as pd

## Carregando _DataSet_

O conjunto de dados é carregado em `iris_dataset`.

In [34]:
iris_dataset = datasets.load_iris()
list(iris_dataset.target_names) # Listando Classes do dataset

['setosa', 'versicolor', 'virginica']

In [35]:
list(iris_dataset.feature_names) # Listando Features do dataset

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

## Gerando _DataFrame_

Com auxílio da biblioteca **pandas**, é gerado um _dataframe_ que será armazenado em `iris_dataframe` para melhor vizualização dos dados.

In [36]:
iris_dataframe = pd.DataFrame(data=iris_dataset.data, columns=iris_dataset.feature_names) # gera um dataframe

# Inclui uma nova coluna 'target' com os dados de iris_dataset.target
iris_dataframe['target name'] = pd.Categorical.from_codes(iris_dataset.target, iris_dataset.target_names)

iris_dataframe.head() # A função head() retorna os 5 primeiros dados do dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target name
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [37]:
iris_dataframe

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target name
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica