# Gerando dataset em arquivo csv

## Importando bibliotecas

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from zipfile import ZipFile

from feat_set_13_ext import create_fs13

## Criando lista de DataFrames por amostra

In [2]:
HEADER_LINE_OF_CSV = 19
list_of_df = []

with ZipFile('./fluxo.zip') as fluxo:
    path_list = fluxo.namelist()
    path_list.sort()
    for file_path in filter(lambda string: '.csv' in string, path_list):
        with fluxo.open(file_path) as csv_file:
            signal = pd.read_csv(csv_file, header=HEADER_LINE_OF_CSV)[['CH1']].values.flatten()
            list_of_df.append(create_fs13(signal, file_path))

## Gerando arquivos csv

In [3]:
data_df = pd.concat(list_of_df, ignore_index=True)

data_df.replace(np.inf, np.NaN)
data_df.dropna(inplace=True)

data_df.to_csv('./csvs/fs13.csv', index=False)

data_df.head()

,Kurt-A3,MeanAD-A3,MedianAD-A3,Energy-A3,MedianAD-D3,Energy-D3,frequence,target
0,-0.678328,0.259148,0.351929,265273.168984,0.051194,26.593132,30,0
1,-0.677234,0.257345,0.349852,265219.173491,0.051161,26.296542,30,0
2,-0.744301,0.260107,0.356801,265232.294793,0.051516,26.373236,30,0
3,-0.531096,0.254610,0.336848,263866.327201,0.049583,25.154780,30,0
4,-0.474700,0.253951,0.328032,263990.967618,0.049381,25.058178,30,0

In [4]:
data_df.describe()

,Kurt-A3,MeanAD-A3,MedianAD-A3,Energy-A3,MedianAD-D3,Energy-D3,frequence,target
count,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000,2591.000000
mean,-0.765281,0.280202,0.362514,262872.089199,0.044151,22.411848,45.111926,2.992667
std,0.365528,0.181790,0.234304,3484.650856,0.009982,11.006087,10.008057,1.978539
min,-1.446281,0.093503,0.118927,254418.436130,0.027942,7.744998,30.000000,0.000000
25%,-0.973575,0.158730,0.210067,260558.667089,0.036956,14.360976,35.000000,1.000000
50%,-0.802529,0.234449,0.310954,262222.651170,0.041104,18.361013,45.000000,3.000000
75%,-0.551651,0.321548,0.398570,264222.034457,0.052984,31.537654,55.000000,5.000000
max,0.252830,0.940724,1.483460,277004.561760,0.078213,67.052858,60.000000,6.000000